@import 'fonts.css';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'comfortaa';
  font-weight: 400;
}
/* icons */
*::before,
*::after{
  font-family: 'icons';
}
.icon-lenta::before{
  content: '\f008';
  font-weight: 300;
  color: white;
}
.icon-play::before,
.icon-play::after{
  font-weight: 900;
  color: #ffffff;
  position: absolute;
}
.icon-play::before{
  content: '\f04b';
}
.icon-play::after{
  content: '\10f04b';
  opacity: 0.5;
}
/* container */
.container{
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  /* border: 1px solid red; */
  min-height: 40px;
}
/* title */
.title{
  font-size: 36px;
  line-height: 32px;
  text-transform: capitalize;
  padding-bottom: 10px;
  border-bottom: 2px solid #F18128;
  color: #F18128;
  width: max-content;
}
/* vue-btn */
.vue-btn{
  min-width: 166px;
  padding: 17px 10px;
  display: inline-flex;
  justify-content: center;
  border-radius: 4px;
  background: #F18128;
  color: #000000;
  font-size: 14px;
  line-height: 11px;
  font-family: 'roboto';
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.vue-btn:hover{
  background: #040D1F;
  color: #ffffff;
}
/* wrapp */
.wrapp{
  width: 100%;
  min-height: 100vh;
  background: #040D1F;
  color: #ffffff;
}
/* banner */
.banner{
  background: linear-gradient(90deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;
  gap: 24px;
}
.banner .icon-lenta{
  font-size: 50px;
}
.banner p{
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  max-width: 166px;
}
/* navbar */
.navbar{
  width: 100%;
  min-height: 40px;
  background: rgba(1, 3, 5, 0.8);
  position: sticky;
  top: 0;
  backdrop-filter: blur(4px);
  z-index: 30;
}
.navbar__nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__nav--logo{
  padding: 20px 0;
  display: flex;
  align-items: flex-end;
  gap: 5px;
}
.navbar__nav--logo img{
  width: 103px;
  object-fit: contain;
}
.navbar__nav--logo span{
  font-size: 18px;
  font-weight: 700;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
  /* margin-left: 5px; */
}
.navbar__nav--list{
  display: flex;
}
.navbar__nav--list a{
  padding: 42px 6px;
  margin: 0 9px;
  /* border: 1px solid green; */
  display: inline-flex;
  font-size: 14px;
  line-height: 16px;
  font-family: 'montserrat';
  font-weight: 400;
  color: #ffffff;
  position: relative;
}
.navbar__nav--list a::before{
  width: 100%;
  height: 3px;
  background: #ED8E00;
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  border-radius: 4px 4px 0 0;
  transform: scaleX(0);
  transition: transform 0.3s;
}
.navbar__nav--list a:hover::before{
  transform: scaleX(1);
}
.navbar__nav--btn{
  width: 40px;
  height: 40px;
  border: none;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background: transparent;
  cursor: pointer;
}
.navbar__nav--btn span{
  width: 100%;
  height: 6px;
  background: #ED8E00;
  border-radius: 4px;
  transition: transform 0.3s;
}
.navbar__nav--btn:hover span:nth-of-type(2){
  transform: scaleX(0);
}
.navbar__nav--btn:hover span:first-of-type{
  transform: rotate(45deg)translateX(9px) translateY(8px);
}
.navbar__nav--btn:hover span:last-of-type{
  transform: rotate(-45deg) translateX(8px) translateY(-8px);
}
/* header */
.header{
  width: 100%;
  height: 640px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
}
.header::before{
  width: 100%;
  height: 100%;
  position: absolute;
  content: '';
  background: rgba(7, 15, 25, 0.75);
}
.header__content{
  position: absolute;
}
.header__content h1{
  font-size: 64px;
  line-height: 65px;
  font-family: 'montserrat';
  font-weight: 700;
}
.header__content p{
  font-size: 16px;
  line-height: 24px;
  font-family: 'montserrat';
  font-weight: 400;
  margin: 30px 0 50px;
  max-width: 570px;
  text-align: justify;
  color: #C8C8C8;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
.header__content--btn{
  display: flex;
  gap: 30px;
}
/* films */
.films{
  width: 100%;
  padding: 60px 0 77px;
}
.films__content{
  margin-top: 51px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  row-gap: 30px;
  flex-wrap: wrap;
}
.films-card{
  width: 23%;
  min-height: 367px;
  border-radius: 6px;
  background: orangered;
  overflow: hidden;
  position: relative;
}
.films-card__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  transition: transform 0.3s;
}
.films-card__link{
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
  position: absolute;
  left: 0;
  top: 0;
  padding: 50px 15px 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
.icon-play{
  width: 40px;
  height: 46px;
  font-size: 40px;
  display: flex;
  transition: transform 0.3s;
}
.films-card__link p{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
  font-family: 'roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.films-card__link h3{
  font-family: 'montserrat';
  font-weight: 400;
  margin: 30px 0 12px;
  font-size: 22px;
  line-height: 27px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-align: center;
}
.time{
  min-width: 100px;
  padding: 7px;
  border: 2px solid #ffffff;
  background: rgba(7, 15, 25, 0.2);
  border-radius: 9px;
  font-family: 'montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 10px;
  margin-top: 20px;
  /* display: flex;
  justify-content: center; */
  text-align: center;
  transition: transform 0.3s;
}
.films-card__link--play,
.films-card__link--text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.films-card__link--play{
  height: 100%;
}
.films-card:hover .films-card__img{
  transform: scale(1.2);
}
.films-card:hover .icon-play{
  transform: scale(2) translateY(10px);
}
.films-card:hover .time{
  transform: scale(0);
}
/* collections */
.collections{
  width: 100%;
  padding: 61px 0 63px;
}
.collections__content{
  min-height: 40px;
  margin-top: 51px;
  width: 100%;
  display: flex;
  justify-content: center;
  row-gap: 30px;
  column-gap: 3.333%;
  flex-wrap: wrap;
}
.collections-card{
  width: 31%;
  min-height: 200px;
  background: orangered;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}
.collections-card__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
}
.collections-card__link{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.collections-card__link h3{
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  margin-top: 15px;
}
.collections-card__link::before,
.collections-card__link::after{
  width: 20px;
  height: 90%;
  position: absolute;
  content: '';
  background: url('../images/lenta.png') no-repeat center center / cover;
  transition: transform 0.3s, left 0.3s, right 0.3s;
}
.collections-card__link::before{
  left: 7px;
}
.collections-card__link::after{
  right: 7px;
}
.collections-card:hover .collections-card__link::before{
  left: -30px;
  transform: scaleY(1.5);
}
.collections-card:hover .collections-card__link::after{
  right: -30px;
  transform: scaleY(1.5);
}
/* premier */
.premier{
  width: 100%;
  min-height: 500px;
  background: #ffffff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
.premier::before{
  width: 100%;
  height: 100%;
  position: absolute;
  content: '';
  background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
  z-index: 2;
  top: 0;
  left: 0;
}
.premier__video{
  position: absolute;
  width: 60%;
  height: 100%;
  object-fit: cover;
  right: 0;
  top: 0;
}
.premier__content{
  position: relative;
  z-index: 5;
}
.premier__content--img{
  width: 40%;
}
.premier__content p{
  font-size: 18px;
  line-height: 27px;
  font-family: 'roboto';
  color: #000000;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  margin: 51px 0 55px;
  max-width: 558px;
  text-align: justify;
}
/* serials */
.serials{
  width: 100%;
  padding-bottom: 63px;
}
.serials__content{
  width: 100%;
  margin-top: 54px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, auto);
}
.serials-card{
  min-height: 200px;
  background: orangered;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}
.serials-card__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.serials-card__content{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 22px;
}
.serials-card__content--play{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.serials-card:nth-of-type(6n + 1) .icon-play{
  display: none;
}
.serials-card:nth-of-type(6n + 1) h3{
  font-size: 40px;
  line-height: 44px;
  font-weight: 700;
  color: #ffffff;
}
.serials-card__content--text{
  display: none;
}
.serials-card:nth-of-type(6n + 1) .serials-card__content--text{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}
.serials-card__content--text p{
  font-size: 16px;
  line-height: 24px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
.serials-card h3{
  font-size: 24px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 700;
}



.serials-card:nth-of-type(6n + 1){
  grid-column-end: span 4;
  grid-row-end: span 2;
}
.serials-card:nth-of-type(12n + 2){
  grid-column-end:  span 2;
  grid-row-end:  span 2;
}
.serials-card:nth-of-type(10n + 10){
  grid-column: 3/ span 2;
  grid-row-end:  span 2;
}


@media (max-width: 1400px) {}
@media (max-width: 1200px) {}
@media (max-width: 992px) {
  .films-card,
  .collections-card{
    width: 48%;
  }
  .serials__content{
    grid-template-columns: repeat(2, auto);
  }
  .serials-card{
    height: 300px;
  }
  .serials-card:nth-of-type(3n + 1){
    grid-column-end: span 2;
  }
  .serials-card:nth-of-type(3n + 1) .icon-play{
    display: none;
  }
  .serials-card:nth-of-type(3n + 1) .serials-card__content--text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
  .serials-card:nth-of-type(3n + 1) h3{
    font-size: 40px;
    line-height: 44px;
  }
  .serials-card:nth-of-type(12n + 2){
    grid-column: unset;
    grid-row: unset;
  }
}
@media (max-width: 768px) {
  .header__content h1{
    font-size: 50px;
    line-height: 50px;
  }
  .premier::before{
    background: linear-gradient(0deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
  }
  .premier__video{
    width: 100%;
    height: 50%;
  }
  .premier{
    padding-top: 200px;
    align-items: flex-end;
  }
  .premier__content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .premier__content p{
    margin: 10px 0;
  }
}
@media (max-width: 576px) {
  .navbar__nav--list{
    display: none;
  }
  .navbar__nav--btn{
    display: flex;
  }
  .banner{
    padding: 0;
  }
  .header__content{
    text-align: center;
  }
  .header__content--btn{
    justify-content: center;
  }
  .header__content p{
    margin: 15px 0;
  }
  .films-card,
  .collections-card{
    width: 100%;
  }
  .premier__content--img{
    width: 60%;
  }
  .serials__content{
    display: flex;
    flex-direction: column;
  }
  .serials-card:nth-of-type(3n + 1) .serials-card__content--text{
    display: none;
  }
  .serials-card:nth-of-type(3n + 1) h3{
    font-size: 24px;
    line-height: 27px;
  }
  .serials-card:nth-of-type(3n + 1) .icon-play{
    display: flex;
  }
}
@media (max-width: 480px) {
  .header__content h1{
    font-size: 30px;
    line-height: 30px;
  }
  .header__content--btn{
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .header{
    height: 350px;
  }
}
@media (max-width: 320px) {}